*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'sans-serif';
  }
  .main{
    background-image: url(../Activ-Box/banner_bckg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
  }
  .header {
    
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    
  }
  .header__container::after {
    position: absolute;
    content: '';
    bottom: 0;
    border-bottom: 1px solid #fff;
    width: calc(100%-30px);
    left: 15px;
  }
  .header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
  }
  .header__link{
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    min-width: 134px;
    padding: 36px 0 32px;
    border-bottom: 3px solid transparent;
  }
  .header__link:hover{
    cursor: pointer;
    color: #FF4343;
    border-bottom: 3px solid #BABBC5;
  }
  .burger {
    display: none;
  }
  
  
  @media only screen and (max-width: 1024px) {
    .header {
      width: 1024px;
      padding: 0 20px;
    }
    .header::after {
      width: 984px;
      left: 20px;
    }
    .header__link {
      display:none ;
      width: 112px;
      line-height: 14px;
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .logo {
      width: 103.472px;
      height: 14.352px;
    }
    .header {
      margin: 0 20px;
    }
    .header__link {
      display: none;
    }
    .header::after {
      display: none;
    }
    .burger {
      display: block;
      cursor: pointer;
    }
  }
  
  
  
  .banner {
    background-color:rgba(37, 43, 73, 0.8);
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
 
}
  .banner__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .banner__title {
    color: #FFF;
    text-align: center;
    font-family: 'Raleway','sans-serif';
    font-size: 64px;
    font-weight: 900;
    line-height: 75px;
    text-transform: uppercase;
    margin-bottom: 97.12px;
  }
  .banner__text {
    color: #FFF;
    text-align: center;
    font-family: 'Raleway','sans-serif';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 79.57px;
    max-width: 1440px;
  }
  .banner__button {
    max-width: 314px;
    padding: 17px;
    border: 1px solid #FF4343;
    background-color: #FF4343;
    color: #FFF;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
  
  }
  .banner__button:hover{
    cursor: pointer;
    color: #FF4343;
    border: 1px solid #FF4343;
    background-color: transparent;
  }
  
  @media only screen and (max-width: 320px) {
    .banner {
      max-width: 63px;
    }
    .banner__container
    {
padding: 0;
   }
  
    .banner__title {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 61.86px;
    }
    .banner__text {
      font-size: 18px;
      line-height: 21px;
      padding: 0 110px;
      margin-bottom: 89.14px;
    }
    .banner__button {
      max-width: 314px;
    }
  }
  
  
  @media only screen and (max-width: 320px) {
    .banner__container {
      padding: 0;
    }
    .banner {
      height: 574px
    }
    .banner__title {
      width: 280px;
      font-size: 36px;
      line-height: 42px;
      padding: 0;
      margin-bottom: 32.71px;
    }
    .banner__text {
      width: 280px;
      font-size: 14px;
      line-height: 16px;
      padding: 0;
      margin-bottom: 49.29px;
    }
    .banner__button {
      width: 280px;
    }
  }